.person_money_input::-webkit-input-placeholder {
	color: #5f5f5f;
	padding: 5px;
}

.create_wrap {
	margin-top: 10vh;
	/* background-color: red; */
	/* height: 600px; */
	margin-left: 7%;
	margin-right: 7%;
	/* justify-content: center; */
	/* align-items: center; */
}

.theme_wrapper {
	/* display: flex; */
	/* justify-content: center; */
	width: 100%;
	height: 100%;
	background-color: rgb(241, 243, 255);
	margin-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	/* position: relative; */
}
.theme_text {
	/* position: absolute; */
	padding: 30px;
	color: rgb(35, 41, 65);
	/* background-color: red; */
}

.theme_button {
	width: 100px;
	height: 100%;
	font-size: 15px;
	border: none;
	background-color: transparent;
	text-align: center;
	margin: 10px;
}
.theme_img_wrapper {
	/* width: 100px; */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.theme_img_text {
	position: absolute;
	top: 30px;
	font-weight: 10px;
}
.select_theme_button {
	width: 90px;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	background-color: #ffd0ca;
	text-align: center;
	margin: 4px;
}

.middle_text {
	margin-top: 30px;
	/* background-color: red; */
	margin-bottom: 20px;
}

._text {
	color: #5f5f5f;
	text-align: center;
}

.radio_fee {
	margin: 10px;
	/* background-color: yellow; */
}
.radio_input {
	display: flex;
	flex-direction: row;
	height: 33px;
}
.radio_label {
	/* text-align: center; */
	/* justify-content: center; */
	align-items: center;
	display: flex;
	margin: 15px;
}
.person_money {
	width: 40%;
	height: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	margin: 5px;
	background-color: #f8f9fa;
	border-radius: 5px;
}
.person_money_label {
	margin-right: 50px;
}
.person_money_input_wrapper {
	align-items: center;
	display: flex;
}
.person_money_input {
	/* margin: 15px; */
	height: 25px;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: white;
}

.person_money_input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.person_money_icon {
	width: 64px;
	height: 64px;
	margin: 10px;
	/* background-color: yellow; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
}
.person_money_icon_test {
	/* padding: 5px; */
	/* background-color: blue; */
	width: 55px;
	height: 55px;
	/* margin: auto;
	display: block; */
	/* justify-content: center; */
	/* align-items: center; */
}
/* .money {
	align-items: center;
	justify-content: center;
	margin: 5px;
	background-color: yellow;
} */
.middle {
	justify-content: center;
	margin: 20px;
	display: flex;
	flex-direction: row;
	/* background-color: yellow; */
}
.period_place_wrapper {
	justify-content: center;
	display: flex;
	flex-direction: row;
	/* margin-left: 20%; */
	/* margin-right: 20%; */
}
.period_place {
	/* background-color: yellow; */
	justify-content: space-evenly;
	/* width: 350px; */
	margin: 15px;
	padding: 10px;
	align-items: center;
	text-align: center;
	/* margin-right: 5%; */
}
/* .period_place_label {
	padding: 3px;
	text-align: center;
	border-radius: 10px;
	background-color: #4a4f5a;
	color: white;
} */

.period_place_title_hint {
	display: flex;
	flex-direction: row;
}
.period_place_label {
	text-align: left;
	left: 10px;
	font-size: 20px;
}
.period_place_label_hint {
	padding: 10px;
	font-size: 14px;
	color: #4a4f5a;
}
/* .period_place_choice {
	margin-top: 10px;

	background-color: red;
} */
.datepicker {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.selected_result {
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	/* background-color: yellow; */
}
.post-code {
	width: 500px !important;
	height: 470px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	backdrop-filter: blur(5px);
}

.Address_modal_content {
	width: 550px !important;
	height: 550px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	backdrop-filter: blur(5px);
	border-radius: 10px;
}

.Address_modal_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
}
.place_search_icon_wrapper {
	margin-top: 30px;
}
.place_search_button {
	width: 300px;
	height: 35px;
	border: none;
	background-color: white;
	box-shadow: 2px 3px 2px 2px gray;
	font-size: 12px;
	text-align: left;
}
.all_intro {
	margin: 20px;
}

.daydetail_all_wrapper {
	margin: 15px;
	padding: 10px;
	/* background-color: red; */
}
.intro_detail_simple {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	margin: 10px;
}

.dayclasswrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	margin-top: 30px;
	width: 100%;
	border-radius: 5px;
	background-color: #f1f3f5;
}

.day_title_label {
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 2px;
}

.file_input_split {
	justify-content: center;
	flex-direction: row;
	display: flex;
}
.editImg {
	display: flex;
	flex-direction: column;
	color: #5f5f5f;
	size: 10px;
}

.editImg_text {
	background-color: transparent;
	border: none;
}
.info_box_long {
	width: 950px;
	height: 90px;
	border: none;
	outline: none;
	/* margin: 15px; */
	border-radius: 5px;
	padding: 5px 8px;
	overflow: auto;
	resize: none;
	background-color: white;
}

.info_box_long::-webkit-scrollbar {
	width: 10px;
}
.info_box_long::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}
.info_box_long::-webkit-scrollbar-track {
	background-color: rgb(158, 158, 158);
	border-radius: 10px;
	box-shadow: inset 0px 0px 2px white;
}

/* .word_how_many {
	justify-content: flex-end;
} */
.word_info {
	background-color: #f1f3f5;
	height: 125px;
	position: relative;
	border-radius: 5px;
	padding: 10px;
}
.word_how_many {
	text-align: right;
	margin-top: 3px;
	margin-bottom: 1px;
	position: absolute;
	right: 15px;
	bottom: 0.5px;
	color: #999999;
}
.day_img_true {
	object-fit: cover;
	width: 130px;
	height: 130px;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.uploadImg_behind {
	align-items: center;
	text-align: center;
	margin: auto;
	margin-right: 15px;
	justify-content: center;
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 5px;
	border: dashed;
}
.file_input {
	align-items: center;
	text-align: center;
	margin: 15px;
	justify-content: center;
	width: 130px;
	height: 130px;
	/* background-color: #576191; */
	border-radius: 5px;
	border: none;
	display: none;
}
.label_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.day_input_box {
	justify-content: center;
	width: 100%;
	/* margin: 10px; */
}
.input_box_long {
	width: 950px;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
	margin: 2px;
	border-radius: 5px;

	background-color: white;
}

.input_box_middle {
	width: 400px;
	border: none;
	outline: none;
	background-color: white;
	margin: 2px;
	border-radius: 5px;
}
.input_box_short {
	width: 200px;
	border: none;
	outline: none;
	margin: 2px;
	border-radius: 5px;

	background-color: white;
}
.last_row {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.filebox {
	/* padding: 10px; */
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
}
.filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 10px 10px;
	vertical-align: middle;
	/* border: 1px solid #dddddd; */
	border: none;
	border-bottom: 1px solid #dddddd;
	width: 40%;
	color: #999999;
	outline: none;
}
.filebox label {
	display: inline-block;
	/* align-items: center; */
	padding: 7px;
	color: #fff;
	vertical-align: middle;
	background-color: #3a3a3a;
	border-radius: 6px;
	cursor: pointer;
	width: 90px;
	height: 35px;
	margin-right: 10px;
	font-size: 14px;
}
.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}
.add_button {
	width: 99%;
	margin-top: 10px;
	padding: 3px;
	border: none;
	border-radius: 8px;
	/* margin: auto; */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: white;
}
.remove_button {
	align-items: center;
	justify-content: center;
	border: none;
}
.last_text {
	padding: 25px;
	/* margin: 10px; */
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.last_text_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.basic_text {
	font-size: 13px;
}
.important_text {
	color: rgb(219, 55, 55);
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
}
.submit_button_wrapper {
	margin: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.submit_button {
	width: 15%;
	border: none;
	border-radius: 5px;
}
