.filter_btn_flex_row {
	width: "100%";
	display: flex;
	flex-direction: row;
}

.btn_normal_click {
	border: none;

	border-bottom: 3px solid pink;
	background-color: transparent;
}

.btn_normal {
	border: none;
	background-color: white;
}
.btn_normal:hover {
	border-bottom: 3px solid pink;
}
