.flex_row {
	display: flex;
	flex-direction: row;
}

.btn_normal_click {
	border: none;
	background-color: pink;
}

.btn_normal {
	border: none;
	background-color: white;
}
.btn_normal:hover {
	border: none;
	background-color: pink;
}
