.header_wrapper {
	background-color: white;
	width: 100%;
	height: 60px;
	flex-direction: row;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: space-between;
}

.logo_wrapper {
	margin-left: 100px;
}

.logo {
	width: 50%;
	/* height: 50px; */
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.menu_wrapper {
	height: 50px;
	align-items: center;
	/* margin-left: 20%; */
	flex-direction: row;
	justify-content: center;
	display: flex;
	font-family: "Pretendard-Regular";
	font-size: 17px;
	letter-spacing: 2px;
	white-space: nowrap;
}

.memu_item {
	padding: 30px;
	font-weight: 300px;
	text-align: center;
	flex-direction: row;
	font-family: "Pretendard-Regular";
}

.login_wrapper {
	height: 50px;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
	flex-direction: row;
	display: flex;
	font-family: "Pretendard-Regular";
	font-size: 17px;
	letter-spacing: 2px;
}

.login_item .link {
	color: rgb(63, 54, 99);
	/* width: 50%; */
	font-weight: 300px;
	padding: 10px;
	margin-left: 30px;
	font-family: "Pretendard-Regular";
	font-size: 17px;
	letter-spacing: 2px;
	background-color: transparent;
	border: none;
}
.link {
	border: none;
	text-decoration: none;
	color: rgb(36, 31, 57);
	padding: 10px;
	margin-right: 15px;
}

.dropdown-link {
	text-decoration: none;
}

/* 눈누-IM혜민체 폰트 */
@font-face {
	font-family: "IM_Hyemin-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

#dropdown-basic {
	background-color: "transparent";
	/* color: #ffd0ca; */
	outline: none;
	/* margin-right: 5px; */
}

/* 눈누 - 프리텐다드 폰트 */
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
}
