.search_wrapper {
	margin-top: 70px;
	margin-left: 6%;
	margin-right: 6%;
}
.search_flex_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "omyu_pretty";
}
.result_cnt {
	padding: 10px;
	margin: 20px;
}
.theme_div {
	width: 300px;
}
.dropdown_btn {
	letter-spacing: 5px !important;
}

#dropdown-basic-button {
	letter-spacing: 5px !important;
}
@font-face {
	font-family: "HakgyoansimWoojuR";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "omyu_pretty";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
		format("woff2");
	font-weight: 100;
	font-style: normal;
}
