.setting_wrap {
	margin-top: 120px;
	margin-left: 7%;
	margin-right: 7%;
	justify-content: center;
	align-items: center;
	align-items: center;
}
.achive-file-selector-button {
	width: 120px;
	height: 28px;
	background: #3f4a82;
	border: none;
	font-size: 14px;
	border-radius: 8px;
	text-align: center;
	align-items: center;
	cursor: pointer;
	color: white;
}
.achive-file-selector-button:hover {
	background: #4d4d4d;
	border-radius: 8px;
	border: none;
	color: #fff;
}
.achive-file-save-btn {
	width: 120px;
	height: 28px;
	font-size: 14px;
	background-color: #f26b6b;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	margin-left: 10px;
	text-align: center;
}

.achive-file-save-btn:hover {
	background: #f14949;
	border-radius: 8px;
	border: none;
	color: #fff;
}

.user_img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 2vh;
	margin-right: 2vh;
}
.achive-file-selector-button input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.file-selector-button input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
