@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
.footer_wrap {
	width: 100%;
	/* height: 200px; */
	/* background-color: red; */
	/* opacity: 0.6; */
	margin-top: 46px;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;
	text-align: center;
	position: relative;
}
.container {
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* text-align: center; */
	justify-content: space-around;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
}
.footer {
	/* width: 200px; */
	/* height: 100px; */
	justify-content: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.footer_title {
	justify-content: center;
	text-align: start;
	font-size: 20px;
	margin-top: 20px;
	font-family: "GangwonEdu_OTFBoldA";
}

.footer_content {
	/* text-align: center; */
	/* width: 100px; */
	justify-content: center;
	text-align: start;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	font-family: "GangwonEdu_OTFBoldA";
	color: rgb(152, 152, 152);
}

.line {
	border-top: 0.5px solid #848484;
	margin: 20px 100px 40px 100px;
	/* width: 500px; */
	/* position: relative; */
	text-align: center;
}

.hobby4u_wrapper {
	/* width: 100%; */
	margin: 10px 100px 10px 100px;
	display: flex;
	flex-direction: row;
}
.hobby4u {
	width: 50%;
	font-size: 70px;
	font-weight: 700;
	justify-content: flex-start;
	text-align: left;
	font-family: "Playfair Display", serif;
}
.contact {
	width: 50%;
	text-align: right;
	vertical-align: bottom;
	margin-top: 5%;
	font-size: 13px;
}

/* 눈누 - 프리텐다드 폰트 */
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
}
