.intro_wrap {
	width: 100%;
	top: 50px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.intro {
	display: inline-block;
	margin-top: 50px;
}
.text_wrap {
	margin-top: 100px;
}
.text {
	width: 100%;
	font-size: 40px;
	font-family: "yg-jalnan";
	text-align: center;
	letter-spacing: 15px;
	justify-content: center;
	align-items: center;

	color: white;
	text-shadow: 2px 4px 6px #3f4a82;
}
.intro_text {
	font-size: 40px;
	font-family: "yg-jalnan";
	letter-spacing: 15px;
	color: #f26b6b;
	animation: blink 1s infinite, typing 4s steps(22);
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 558px;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
.intro1 {
	width: 100%;
	height: 100%;
}
/* Mentor , Mentee */
.intro2_title {
	text-align: center;
	margin-top: 200px;
	font-size: 30px;
	font-weight: bolder;
	font-family: "yg-jalnan";
}

.intro2_grid {
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 100px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 200px;
	margin-bottom: 150px;
}
.detail {
	margin-top: 10px;
	font-size: 16px;
	font-family: "GangwonEdu_OTFBoldA";
}
.detail_title {
	font-size: 20px;
	margin-top: 20px;
	font-family: "GangwonEdu_OTFBoldA";
}

.intro3 {
	width: 100%;
}

.none {
	width: 100%;
	height: 1800px;
	background-color: black;
	opacity: 0.63;
}
/* 눈누-강원교육모두체 폰트 */
@font-face {
	font-family: "GangwonEdu_OTFBoldA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
/* 눈누-여기어때 잘난체 폰트 */
@font-face {
	font-family: "yg-jalnan";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
